body{
    padding-bottom: 80px;
    background-color: black;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.produtos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFC107;
    text-align: center;
}

.cabeçalhoareadocliente{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #FFC107;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;

}
.cabeçalhoareadocliente img{
    width: 100px;
    height: auto;
}

#mercadorias {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
    padding-bottom: 20px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
   font-weight: bold;
   text-align: center;
   font-size: 15px;
}

a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.card-produto {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: rgb(0, 0, 0);
   border: 1px solid #ddd;
   border-radius: 10px;
   padding:15px;
   margin: 10px auto;
   max-width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}




.img-produto img{
height: 100px;
align-items: center;
}


.info-produto{
    color: #FFC107;

}

.link-card{
    text-decoration:none;
    color:inherit;
    display: block;
}

.link-card:active .card-produto {
    background-color: #f0f0f0; 
    border-color: #FFC107;    
}
    

/*Css da descriçao do pedido */

.informaçao-adicionais{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFC107;
   
}


.barra-topo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    background-color: #FFC107;
}

.botao-voltar{
   text-decoration: none;
   color: #333;
   font-weight: bold;
   font-size: 18px;
}

.detalhe-container{
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.destaque-imagem img{
    width: 150px;
    margin-top: 20px;
    display: block;
    margin:50px auto;
    

}

/* Descrição */
.informaçao-produtos h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
    color: #FFC107;

}

.informaçao-adiconais{
    color: #666;
    margin-bottom: 15px;
}

.preco-grande {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #FFC107;
    font-weight: bold;
    display: block;
    margin: 15px;
}

/* Botao de quantidade */

.selecao-quantidade{
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.btn-qtd{
    width: 45px;
    height: 40px;
    background-color: #FFC107;
    color: #333;
    text-align: center;
    font-size: 22px;
    border: none;
    font-weight: bold;
    touch-action: manipulation;
}

#selecao-sabor{
  width: 61%;
  height: 40px;
  font-size: 15px;
  justify-items: center;
    align-items: center;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #FFC107;
  
}

.botao-pedir{
    background-color: #FFC107;
    color: black;
    width: 100%;
    padding: 20px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.botao-comprar{
    background-color: #FFC107;
    color: black;
    width: 100%;
    padding: 15px;
    margin: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* essa linha abaixo tira a setinha que esta bugando a barra de quantidade */
input[type=number]::-webkit-inner-spin-button,
input[rtpe=number]::-webkit-outer-spin-button{
    -webkit-apperance:none;
    margin: 0;
}

/* essa linhda centraliza o numero dentro da barra de quantidade */

#quantidade{
    text-align: center;
    font-size: 18px;
    color: #FFC107;
}

/* fundno escuro atras da janela de informaçoes pessoais */
.modal-fundo{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* A caixa branca */
.modal-caixa {
    display: flex;
    color:#FFC107;
    background-color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    justify-items: center;
    text-align: center;
    
}

.modal-caixa h3 {
    margin-bottom: 10px;
    color: #FFC107;
}

.modal-caixa input {
    width: 70%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    
}

.botao-confirmar {
    background-color: #28a745; /* Verde Confirmar */
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn-cancelar{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #FFC107;
border-radius: 10px;
border: none;
 padding: 10px;
}

.menuinferior{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFC107;
    display: flex;
    justify-content:space-around;
    padding: 10px 0;
    z-index: 1000;
}

.item-menu{
text-decoration:none;
color: #000000;
font-size: 20px;
display: flex;
flex-direction: column;
align-items: center;
}


.item-meu:hover, .item-menu:active{
    color:#FFC107
}

.item-menu .icone {
    font-size: 24px;
    margin-bottom: 5px;
}
   
.icone-com-badge{
    position: relative;
    display: inline-block;
}

.badge{
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: #ff3b30;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 50%;
    min-width: 15px;
    text-align: center;
   
}


.carrinho-vazio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFC107;
}

.valor-total{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFC107;

}

.total-pedido {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFC107;
}

.item-carrinho{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFC107;
    
}

.preco-item{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFC107;
}

.btn-continuar{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: #FFC107;
 border-radius: 10px;
 border: none;
 padding: 10px;
}

.btn-fechar{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: #FFC107;
 border-radius: 10px;
 border: none;
 padding: 10px;
}

.btn-limpar{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: #FFC107;
 border-radius: 10px;
 border: none;
 padding: 10px;
}

.btn-remove-item{
 background-color: #FFC107;
 border-radius: 10px;
 border: none;
 padding: 10px;
 margin: 10px;


}



